/result.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/MuesliJupyterExample.iml
/.idea/vcs.xml
/bckp/
/runs/
/dotspath/build/
/dotspath/dotspath.egg-info/
/main.py.pclprof
